/* @ */

@font-face{
	font-family: 'mtdbt2f4d-915';
        src: url('http://radioathenes.org/_Fonts/mtdbt2f4d-915.eot');
        src: url('http://radioathenes.org/_Fonts/mtdbt2f4d-915.eot?#iefix') format('embedded-opentype'),
             url('http://radioathenes.org/_Fonts/mtdbt2f4d-915.woff') format('woff'),
             url('http://radioathenes.org/_Fonts/mtdbt2f4d-915.ttf') format('truetype'),
             url('http://radioathenes.org/_Fonts/mtdbt2f4d-915.svg#webfont') format('svg');
}

